#bookContain{
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

table{
    margin: auto;
    border-spacing: 60px;
}


#th{
    font-size: 20px;
}

table tr td{
    width: 120px;
    text-align:center;
    border-bottom: 1px #e3e3e3 solid;
    padding: 10px;
}

.contain{
    height: auto;
}

#page_nav{
    margin-left: 45%;
    margin-bottom: 1%;
}